<html>
<head><title>Pre-Flight Check</title></head>
<link rel=stylesheet type="text/css" href="/stylesheets/style.css" />

<body>

<h2>Working folder: {{ gitRoot }}</h2>

{% if !isValidRepo %}
    <p>Does not appear to be a Git working folder</p>
{% endif %}
{% for error in errors %}
    <p class=error>{{ error }}</p>
{% endfor %}

{% if isValidRepo && isClean %}
    <p>Clicking "Begin presentation" will:</p>
    <ol>
        <li>Create a new window (or tab) to contain the presentation slides</li>
        <li>Load the first slide of the presentation into that window</li>
        <li>Load the first presenter-notes page into this window.</li>
    </ol>
    <p>After launch, move the presentation window to the monitor (projector, etc.) where the presentation will be viewed.
       Take whatever steps are appropriate for full-screen mode in your browser and OS.</p>
    <p>To advance through the presentation, use any of these keys to go forward, in <em>this</em> window:</p>
    <p><kbd>↓</kbd>, <kbd>PgDn</kbd>, <kbd>Space</kbd>, <kbd>→</kbd>, or <kbd>j</kbd></p>
    <p>Use any of these keys to go backward</p>
    <p><kbd>↑</kbd>, <kbd>PgUp</kbd>, <kbd>Backspace</kbd>, <kbd>←</kbd>, or <kbd>k</kbd></p>
    <p><a href="/pres">Begin presentation</a></p>
{% endif %}
</body>
</html>